/* common */
.cursor {
  cursor: pointer;
}

.mt50 {
  margin-top: 50px;
}

.mb50 {
  margin-bottom: 50px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* body */
body {
  background-color: #2d3748;
  color: #c7c9cd;
  margin: 0;
  padding: 0;
}
/* parent */
.parent {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 7400px;
}

/* nav */
.nav {
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  border-bottom: 1px solid #27303e;
  overflow: hidden;
}

.navContent {
  width: 99%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logoSection {
  width: 50%;
  height: 45px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 15px;
}

.branding {
  color: #2df8bb;
  background-color: #ededee;
  font-size: 20px;
  border-radius: 10px;
  padding: 11px 8px;
  margin-left: 10px;
}

.logoText {
  font-weight: 600;
  font-size: 20px;
}

/* nav links */
.navLinks {
  width: 50%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
  font-size: 12px;
}

.primary-btn {
  background-color: #1673ff;
  padding: 15px;
  border-radius: 5%;
}

.theme {
  font-size: 30px;
}

/* hero section */

.heroSection {
  width: 100%;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero left section */

.heroLeft {
  width: 60%;
  height: 545px;
  padding-left: 20px;
}

.box {
  height: 12px;
  width: 12px;
  background-color: #1673ff;
}

.tagline {
  width: 55%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  font-size: 12px;
}

.heroHeading {
  font-size: 70px;
  width: 85%;
  height: 270px;
  font-weight: 600;
  margin-bottom: 20px;
}

.heroPara {
  font-size: 17px;
  margin-bottom: 20px;
}

.button {
  width: 70%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.big-btn {
  width: 55%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1673ff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 600;
  padding: 0px 5px;
}

.small-btn {
  width: 30%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
}

/* hero right section */
.heroRight {
  width: 40%;
  height: 545px;
  padding-right: 20px;
  background-image: url(./images/image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* parteners section */
.partenerSection {
  width: 100%;
  height: 150px;
}

.partenerSectionTitle {
  text-align: center;
  font-size: 13px;
  padding-bottom: 20px;
  font-weight: 600;
}

.partenerSectionImages {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* services */
.demoSectionOne {
  width: 100%;
  height: 545px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.demoOneLeft {
  width: 48%;
  height: 400px;
  padding-left: 20px;
  background-image: url(./images/demo-illustrartion-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.demoOneRight {
  width: 48%;
  height: 390px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.tag {
  width: 30%;
  font-style: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30px;
}

.demoOneHeading {
  font-size: 47px;
  font-weight: 600;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
}

.demoOnePara {
  font-size: 18px;
  height: 160px;
}

.c-blue {
  color: #1b67da;
}

.c-blue:hover {
  color: #1e2532;
  background-color: #1673ff;
}

/* demo section two */
.demoSectionTwo {
  width: 100%;
  height: 545px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.demoTwoLeft {
  width: 48%;
  height: 390px;
  padding-left: 20px;
}

.demoTwoRight {
  width: 48%;
  height: 390px;
  padding-right: 20px;
  background-image: url(./images/demo-illustrartion-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribeSection {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #0a121e;
  width: 100%;
  height: 645px;
}

.sub-tag {
  width: 25%;
  height: 100px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subsHeading {
  font-size: 47px;
  font-weight: 600;
  height: 250px;
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subsPara {
  font-size: 18px;
  height: 100px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subsButton {
  width: 40%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-sb {
  border: 1px solid #ededee;
}

.featureSection {
  background-color: #1a202c;
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.featTag {
  width: 99%;
  height: 100px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.bottom {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
}

.featHeading {
  font-size: 47px;
  font-weight: 600;
  height: 80px;
  width: 80%;
  text-align: center;
  display: flex;
  align-items: start;
  justify-content: center;
}

.feat-lr {
  width: 99%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.featLeft {
  width: 35%;
  height: 470px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.featRight {
  width: 60%;
  height: 470px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 400px;
  background-image: url(./images/demo-illustration-3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
}

.card1 {
  width: 95%;
  height: 200px;
  background-color: #2d3748;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.cardLine1 {
  width: 20%;
  height: 200px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}
.cardCircle1 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #ba123c;
}

.bold {
  font-size: 16px;
  font-weight: 600;
}

.cardLine2 {
  width: 80%;
  height: 200px;
  font-size: 15px;
}

.card2 {
  width: 95%;
  height: 100px;
  background-color: #252e3d;
  color: #999ba0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.cardCircle2 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2b5a86;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCircle2inner1 {
  background-color: #3F668A;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCircle2inner2 {
  background-color: #2B5A86;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.card2Line1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100px;
}

.card2Line2 {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.card3 {
  width: 95%;
  height: 100px;
  background-color: #252e3d;
  color: #999ba0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

.cardCircle3 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #3a705a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCircle3inner1 {
  background-color: #4B7766;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCircle3inner2 {
  background-color: #3A705A;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.card3line1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100px;
}

.card3line2 {
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.serviceCard {
  width: 100%;
  height: 1500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1a202c;
  padding-top: 50px;
}

.ser-card {
  width: 47%;
  height: 280px;
  background-color: #2d3748;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.serCard10 {
  border: 1px solid transparent;
  background-color: #1a202c;
}

.serImg {
  width: 100%;
  height: 130px;
}

.serHeading {
  width: 100%;
  height: 30px;
  font-weight: 600;
  color: #ededee;
  font-size: 17px;
}

.serPara {
  height: 100px;
  text-align: center;
  color: #999ba0;
}

.img1 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img2 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-2.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img3 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-3.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img4 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-4.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img5 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-5.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img6 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-6.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img7 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-7.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img8 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-8.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img9 {
  width: 145px;
  height: 90px;
  background-image: url(./images/asset-9.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.testimonial {
  height: 600px;
  width: 100%;
  background-color: #1a202c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.test {
  width: 100%;
  height: 100px;
}

.company-logo {
  height: 170px;
  width: 170px;
}

.authorPic {
  width: 10%;
  height: 100px;
}

.picture {
  background-image: url(./images/author-photo-1.jpeg);
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.authorContent {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}

.authorName {
  width: 30%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

/* blog */
.blog {
  height: 900px;
  width: 100%;
  background-color: #1a202c;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.blogFeatTag {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.blogFeat {
  font-weight: 600;
  width: 12%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blogHeading {
  font-size: 47px;
  font-weight: 600;
  height: 80px;
  width: 100%;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogCardSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.blogCard {
  width: 23%;
  height: 450px;
  border-radius: 8px;
  background-color: #2d3748;
}

.blogTop {
  width: 100%;
  height: 225px;
  background-image: url(./images/example-image-1.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.blogBottom {
  width: 100%;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 3px;
  padding-left: 3px;
}

.bTitle {
  width: 95%;
  font-weight: 600;
  font-style: 18px;
}

.bPara {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #999ba0;
}

.emailSection {
  width: 100%;
  height: 450px;
  background-color: #0a121e;
}

.emailHeading {
  font-size: 47px;
  font-weight: 600;
  height: 250px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
}

.blog-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* footer */
.footer {
  /* border: 1px solid red; */
  width: 100%;
  height: 750px;
  background-color: #0a121e;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}

.footerChild {
  width: 95%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footerCard {
  width: 22%;
  height: 350px;
}

.footerTitle {
  width: 100%;
  height: 100px;
  font-weight: 600;
  font-size: 23px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.footerList {
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: start;
}

/* icons  */
.iconSection {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.social {
  width: 95%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icons {
  width: 15%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twitter {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: #00aced;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facebook {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b5998;
}

.linkedIn {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007fb1;
}
.size {
  font-size: 25px;
}

.copyright {
  width: 30%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.rights {
  width: 95%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.b-green {
  color: #008000;
  font-weight: 600;
}
